* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ffb900;
    --heading-font: "Sen", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
input,
textarea,
button {
    font: inherit;
}
/*==================== common  ===========*/
a {
    text-decoration: none;
}
a:hover {
    opacity: 70%;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
}
.heading {
    color: #171100;
    font-family: Sen;
    font-weight: 700;
    letter-spacing: -1.16px;
}
.heading.h1 {
    font-size: 5.8rem;
    line-height: 1.1724;
}
.heading.h2 {
    letter-spacing: -0.02em;
    font-size: 3.8rem;
}
.desc {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0em;
    text-align: left;
}

/* =====================Header================ */

.header {
    background-color: #fffcf4;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-right: auto;
    margin-left: auto;
}
.header .row-header {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
    /* background-color: aqua; */
}
.header .navbar {
    margin-left: auto;
}
.header .navbar ul {
    display: flex;
}
.header .navbar li a {
    color: #5f5b53;
    padding: 8px 21px;
}
.header .navbar li {
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    text-decoration: #5f5b53;
}
.navbar a:hover,
.header .navbar .active {
    font-family: Poppins;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
    /* font-weight: 600; */
    line-height: 1.75;
    text-align: center;
    position: relative;
    color: #171100;
}
.header .navbar .active::before {
    content: "  ";
    width: 12px;
    height: 2px;
    background: #171100;

    position: absolute;
    display: inline-block;
    bottom: 7px;
    left: 22px;
    border-radius: 1px;
}

.header .btn {
    background-color: #171100;
    color: #ffffff;
    height: 50px;
    margin-left: 49px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.row-header {
    position: sticky;
    top: -36px;
}
.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

/* =================Hero-content */
.hero {
    background-color: #fffcf4;
    padding: 64px 0 65px;
}
.hero-content {
    display: flex;
}
.hero .img-hero {
    width: 48%;
}
.hero .info {
    width: 52%;
}
.hero .img-hero {
    position: relative;
}
.hero .main-content .avatar-01 {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: auto;
}
.hero .hero-summary {
    width: 270px;

    border-radius: 12px;
    background: #fff;
    padding: 28px 0px 28px 24px;
    position: absolute;
    bottom: 48px;
    right: 0px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
    gap: 16px;
}
.hero .hero-summary .item ~ .item {
    margin-top: 14px;
}
.hero .hero-summary .item .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85714;
}
.hero .hero-summary .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero .info {
    padding-top: 56px;
    padding-left: 130px;
}
/* =============Info-hero=========== */

.hero .info .desc {
    color: #5f5b53;
}
.hero .info .desc-01 {
    margin-top: 22px;
}
.hero .info .cta {
    margin-top: 38px;
    display: flex;
}
.hero .info .cta .see-course {
    display: inline-block;
    min-width: 180px;
    line-height: 64px;
    text-align: center;
    background-color: #ffb900;
    color: #fff;
    border-radius: 32px;
    padding: 0 16px;
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hero .info .cta .see-video {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.hero .info .cta .see-video:hover {
    opacity: 0.6;
}
.hero .info .cta .see-video img {
    background-color: #ffff;
    width: 40px;
    height: 40px;
    object-fit: none;
    border-radius: 50%;
    margin-left: 28px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .info .cta .see-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}
.hero .info .desc-02 {
    margin-top: 48px;
}
.hero .info .data-source {
    margin-top: 8px;
}
.hero .info .data-source p {
    color: #5f5b53;
    font-size: 1.8rem;
}
.hero .info .data-source strong {
    color: #171100;

    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    margin: 0px 14px 0px 28px;
}
.hero .info .data-source strong:first-child {
    margin-left: -0px;
}
/* =============Làm phần Popular #1=========== */
.popular {
    margin-top: 200px;
}
.heading-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .heading-popular h2 {
    font-family: Sen;

    font-weight: 700;
    
    text-align: left;
} */
.heading-popular .desc {
    margin-top: 16px;
    width: 458px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.heading-popular .control {
    display: flex;
    gap: 18px;
}
.heading-popular .contro-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    background: #fff;
    color: var(--primary-color);
    cursor: pointer;
}
.heading-popular .contro-btn:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
}
